body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#4facfe,#00f2fe);
  overflow: hidden;
  position: relative;
}

.box {
  width: 360px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
  text-align: center;
  color: white;
  position: relative;
  z-index: 10;
}
